/* .bck-sponser-lite{
    background-color: aqua;
    width: 999px; height: 666px;
    position: absolute;
    top: 500px; bottom: 230px;
    right: 503px; left: 89px;
}

.bck-sponser-lite>img{
    width: 43px; height: 34px;
    border-radius: 45%;
} */